.navbaar {
  --tw-gradient-from: #121521;
  --tw-gradient-to: rgb(18 21 33/0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.listitems {
  background-image: linear-gradient(163.03deg, #414660 10.07%, #292e48 57.49%);
}
